

.CALCULATOR {

    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: pink;
}   
.display-box {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    border: solid rgb(26, 25, 25) 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 80%;
    font-size: x-large;

}
.button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    background-color: palevioletred;
    color: rgb(226, 250, 250);
    border: solid black 0.5px;
    height: 90%;
    width: 80%;
    outline: black;
    box-shadow: #e5e5e5;
    border-bottom-style: solid;
    box-shadow: 0ex;
    
}
.button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    

}
